name = "js-mbt-test"
main = "fixtures/cf-worker.js"
compatibility_date = "2025-11-18"
compatibility_flags = [
  "enable_nodejs_perf_hooks_module",
  "enable_nodejs_fs_module",
  "enable_nodejs_http_modules",
  "enable_nodejs_tty_module",
]

# Default KV Namespace
[[kv_namespaces]]
binding = "MY_KV"
id = "my-kv-id"

[env.test]
# KV Namespace for testing
[[env.test.kv_namespaces]]
binding = "TEST_KV"
id = "test-kv-id"

[[env.test.kv_namespaces]]
binding = "MY_KV"
id = "my-kv-id"

# D1 Database for testing
[[env.test.d1_databases]]
binding = "TEST_DB"
database_name = "test-db"
database_id = "test-db-id"

# R2 Bucket for testing
[[env.test.r2_buckets]]
binding = "TEST_R2"
bucket_name = "test-r2"

# Durable Objects for testing
[[env.test.durable_objects.bindings]]
name = "TEST_DO"
class_name = "TestDurableObject"
script_name = "js-mbt-test"
